body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.gallery {
  
  margin-top: 80px;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}